@font-face {
    font-family: 'Gilroy 400';
    src: url(../font/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy 500';
    src: url(../font/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy 600';
    src: url(../font/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: 'Gilroy 700';
    src: url(../font/Gilroy-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 250px auto;
    width: 440px;
}

.text {
    width: 292px;
    height: 59px;
    font-family: 'Gilroy 700';
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin: 0 auto 38px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 306px;
    width: fit-content;
    justify-content: space-between;
}

.inp {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 438px;
    height: 56px;
    font-family: 'Gilroy 600';
    font-size: 16px;
    line-height: 20px;
    padding: 19px 25px;
    outline: none;
}

.next {
    width: 438px;
    height: 56px;
    background: #0047FF;
    border-radius: 10px;
    border: none;
    font-family: 'Gilroy 600';
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.text2 {
    font-family: 'Gilroy 700';
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #0047FF;
}